In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [2]:
# 파일 불러오기
pit_data_21 = pd.read_csv('2021_투구_statiz.csv')
pit_data_22 = pd.read_csv('2022_투구_statiz.csv')
pit_data_23 = pd.read_csv('2023_투구_statiz.csv')
pit_data_24 = pd.read_csv('2024_투구_statiz.csv')

In [3]:
pit_data_22[pit_data_22['Name'] == '김도현']

,Rank,Name,Team,Sort▼,G,GS,GR,GF,CG,SHO,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,WAR▼,팀,pid
22,22,김도현,22 P,-0.03,1,0,1,0,0,0,...,1,99.99,99.99,86.92,89.13,3103.78,99.99,-0.03,한화 이글스,14128.0
109,17,김도현,22 P,0.02,4,2,2,1,0,0,...,0,5.91,5.91,5.48,5.08,4.89,1.78,0.02,KIA 타이거즈,14128.0

In [4]:
pit_data_21.drop(0, axis=0, inplace=True)
pit_data_22.drop(0, axis=0, inplace=True)
pit_data_23.drop(0, axis=0, inplace=True)
pit_data_24.drop(0, axis=0, inplace=True)

pit_data_21 = pit_data_21.drop(columns=['Rank'])
pit_data_22 = pit_data_22.drop(columns=['Rank'])
pit_data_23 = pit_data_23.drop(columns=['Rank'])
pit_data_24 = pit_data_24.drop(columns=['Rank'])

In [5]:
pit_data_21.rename(columns={'Sort▼': 'WAR', 'Team': '포지션', 'Name': '선수'}, inplace=True)
pit_data_22.rename(columns={'Sort▼': 'WAR', 'Team': '포지션', 'Name': '선수'}, inplace=True)
pit_data_23.rename(columns={'Sort▼': 'WAR', 'Team': '포지션', 'Name': '선수'}, inplace=True)
pit_data_24.rename(columns={'Sort▼': 'WAR', 'Team': '포지션', 'Name': '선수'}, inplace=True)

In [6]:
pit_data_21.drop(columns='WAR▼', inplace=True)
pit_data_22.drop(columns='WAR▼', inplace=True)
pit_data_23.drop(columns='WAR▼', inplace=True)
pit_data_24.drop(columns='WAR▼', inplace=True)

In [7]:
pit_data_21['포지션'] = '투수'
pit_data_22['포지션'] = '투수'
pit_data_23['포지션'] = '투수'
pit_data_24['포지션'] = '투수'

pit_data_21['연도'] = 2021
pit_data_22['연도'] = 2022
pit_data_23['연도'] = 2023
pit_data_24['연도'] = 2024

In [8]:
pit_data_21['pid'] = pit_data_21['pid'].astype(int)
pit_data_22['pid'] = pit_data_22['pid'].astype(int)
pit_data_23['pid'] = pit_data_23['pid'].astype(int)
pit_data_24['pid'] = pit_data_24['pid'].astype(int)

pit_data_21['pid'] = pit_data_21['pid'].astype(str)
pit_data_22['pid'] = pit_data_22['pid'].astype(str)
pit_data_23['pid'] = pit_data_23['pid'].astype(str)
pit_data_24['pid'] = pit_data_24['pid'].astype(str)

In [9]:
display(pit_data_21.head(2))
display(pit_data_22.head(2))
display(pit_data_23.head(2))
display(pit_data_24.head(2))

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도
1,킹험,투수,4.59,25,25,0,0,0,0,10,...,4,3.19,3.63,3.59,3.62,3.39,1.1,한화 이글스,14582,2021
2,김민우,투수,4.4,29,28,1,0,0,0,14,...,5,4.0,4.11,3.84,3.93,4.56,1.33,한화 이글스,11410,2021

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도
1,김민우,투수,3.36,29,29,0,1,1,0,6,...,13,4.36,4.53,4.31,4.33,4.61,1.39,한화 이글스,11410,2022
2,장민재,투수,3.33,32,25,7,1,0,0,7,...,3,3.55,3.84,3.84,3.82,4.74,1.29,한화 이글스,10610,2022

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도
1,페냐,투수,4.28,32,32,0,0,0,0,11,...,16,3.6,4.16,4.02,3.98,4.06,1.17,한화 이글스,15146,2023
2,문동주,투수,3.08,23,23,0,0,0,0,8,...,5,3.72,3.94,3.79,3.82,3.65,1.31,한화 이글스,15013,2023

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도
1,류현진,투수,4.44,28,28,0,0,0,0,10,...,1,3.87,4.43,4.37,4.41,3.67,1.36,한화 이글스,10590,2024
2,주현상,투수,3.13,65,0,65,51,0,0,8,...,1,2.65,2.78,3.12,3.09,3.85,0.84,한화 이글스,11415,2024

In [10]:
df_pit_all = pd.concat([pit_data_21, pit_data_22, pit_data_23, pit_data_24], ignore_index=True)
df_pit_all

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도
0,킹험,투수,4.59,25,25,0,0,0,0,10,...,4,3.19,3.63,3.59,3.62,3.39,1.1,한화 이글스,14582,2021
1,김민우,투수,4.4,29,28,1,0,0,0,14,...,5,4.0,4.11,3.84,3.93,4.56,1.33,한화 이글스,11410,2021
2,카펜터,투수,3.25,31,30,1,0,0,0,5,...,7,3.97,4.76,4.65,4.78,3.91,1.31,한화 이글스,14760,2021
3,강재민,투수,2.22,58,0,58,18,0,0,2,...,1,2.13,2.27,3.21,3.37,3.39,1.22,한화 이글스,14708,2021
4,윤대경,투수,1.71,43,9,34,2,0,0,2,...,3,3.94,4.06,4.19,4.27,4.81,1.38,한화 이글스,11110,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,전준표,투수,-0.35,18,5,13,4,0,0,2,...,4,6.83,9.11,8.78,8.93,7.09,1.99,키움 히어로즈,16122,2024
1177,오석주,투수,-0.5,17,0,17,7,0,0,1,...,2,11.12,11.12,10.67,11.22,4.4,2.29,키움 히어로즈,12860,2024
1178,조영건,투수,-0.55,25,3,22,3,0,0,2,...,3,8.01,8.92,8.13,8.83,6.01,1.91,키움 히어로즈,14132,2024
1179,윤석원,투수,-0.66,11,1,10,3,0,0,0,...,3,11.42,12.46,12.57,12.91,7.72,2.19,키움 히어로즈,15071,2024
1180,김동혁,투수,-0.72,17,0,17,8,0,0,0,...,0,6.85,8.46,9.57,9.86,8.59,1.66,키움 히어로즈,14674,2024

In [11]:
df_pit_all["FIP"] = df_pit_all["FIP"].astype(float)

In [12]:
df_fip10 = df_pit_all[df_pit_all["FIP"] >= 20]
df_fip10

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도
89,홍민기,투수,-0.01,1,0,1,0,0,0,0,...,0,27.0,27.0,13.5,12.14,22.37,6.0,롯데 자이언츠,14625,2021
122,변시원,투수,-0.06,1,0,1,0,0,0,0,...,0,27.0,27.0,20.25,20.31,22.37,6.0,KIA 타이거즈,10882,2021
183,구준범,투수,-0.21,1,1,0,0,0,0,0,...,0,22.5,22.5,22.5,21.22,20.62,2.5,삼성 라이온즈,12645,2021
210,김강민,투수,-0.02,1,0,1,1,0,0,0,...,0,13.5,13.5,13.5,12.73,22.52,3.0,SSG 랜더스,10108,2021
310,박관진,투수,-0.39,2,0,2,0,0,0,0,...,0,81.0,99.99,100.58,102.94,22.37,12.0,키움 히어로즈,14693,2021
333,김도현,투수,-0.03,1,0,1,0,0,0,0,...,1,99.99,99.99,86.92,89.13,3103.78,99.99,한화 이글스,14128,2022
400,김민기,투수,-0.24,1,0,1,0,0,0,0,...,0,67.5,67.5,72.23,67.2,26.28,10.5,롯데 자이언츠,14635,2022
426,송후섭,투수,-0.24,1,0,1,0,0,0,0,...,0,99.99,99.99,143.1,133.35,22.38,15.0,KIA 타이거즈,12867,2022
654,김동규,투수,-0.09,1,0,1,0,0,0,0,...,0,27.0,54.0,54.0,53.7,41.05,9.0,LG 트윈스,15485,2023
685,나원탁,투수,-0.13,1,0,1,0,0,0,0,...,0,40.5,40.5,40.5,40.28,22.60,6.0,롯데 자이언츠,12935,2023
765,박세웅,투수,-0.15,2,0,2,0,0,0,0,...,0,27.0,27.0,31.73,29.85,31.90,6.0,삼성 라이온즈,12651,2023
790,김주한,투수,-0.02,1,0,1,0,0,0,0,...,0,99.99,99.99,85.64,81.82,15003.80,99.99,SSG 랜더스,12531,2023
911,김도빈,투수,-0.11,1,1,0,0,0,0,0,...,0,54.0,54.0,54.0,54.0,24.60,12.0,한화 이글스,16118,2024
967,우강훈,투수,-0.01,1,0,1,0,0,0,0,...,0,99.99,99.99,23.0,21.79,9304.20,99.99,롯데 자이언츠,14816,2024
1083,최현석,투수,-0.16,2,0,2,0,0,0,0,...,0,54.0,54.0,54.0,53.38,32.25,12.0,SSG 랜더스,16041,2024
1169,김동규,투수,-0.07,2,0,2,1,0,0,0,...,0,54.0,54.0,35.1,32.69,22.80,9.0,키움 히어로즈,15485,2024

In [13]:
# 이상치 제거
df_fip10 = df_pit_all[df_pit_all["FIP"] >= 90]
df_pit_all = df_pit_all.drop(df_fip10.index)

In [14]:
df_pit_all

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,WP,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도
0,킹험,투수,4.59,25,25,0,0,0,0,10,...,4,3.19,3.63,3.59,3.62,3.39,1.1,한화 이글스,14582,2021
1,김민우,투수,4.4,29,28,1,0,0,0,14,...,5,4.0,4.11,3.84,3.93,4.56,1.33,한화 이글스,11410,2021
2,카펜터,투수,3.25,31,30,1,0,0,0,5,...,7,3.97,4.76,4.65,4.78,3.91,1.31,한화 이글스,14760,2021
3,강재민,투수,2.22,58,0,58,18,0,0,2,...,1,2.13,2.27,3.21,3.37,3.39,1.22,한화 이글스,14708,2021
4,윤대경,투수,1.71,43,9,34,2,0,0,2,...,3,3.94,4.06,4.19,4.27,4.81,1.38,한화 이글스,11110,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,전준표,투수,-0.35,18,5,13,4,0,0,2,...,4,6.83,9.11,8.78,8.93,7.09,1.99,키움 히어로즈,16122,2024
1177,오석주,투수,-0.5,17,0,17,7,0,0,1,...,2,11.12,11.12,10.67,11.22,4.40,2.29,키움 히어로즈,12860,2024
1178,조영건,투수,-0.55,25,3,22,3,0,0,2,...,3,8.01,8.92,8.13,8.83,6.01,1.91,키움 히어로즈,14132,2024
1179,윤석원,투수,-0.66,11,1,10,3,0,0,0,...,3,11.42,12.46,12.57,12.91,7.72,2.19,키움 히어로즈,15071,2024
1180,김동혁,투수,-0.72,17,0,17,8,0,0,0,...,0,6.85,8.46,9.57,9.86,8.59,1.66,키움 히어로즈,14674,2024

In [15]:
# df_pit_all.to_csv('2124_투수_스탯_데이터합본(칼럼추가.ver).csv', index=False)

### 파생변수 생성(선발, 중간, 마무리)

In [17]:
# 연도별로 분리 
df_pit_all_21 = df_pit_all[df_pit_all['연도'] == 2021]
df_pit_all_22 = df_pit_all[df_pit_all['연도'] == 2022]
df_pit_all_23 = df_pit_all[df_pit_all['연도'] == 2023]
df_pit_all_24 = df_pit_all[df_pit_all['연도'] == 2024]

In [18]:
# 팀 별로 분리 
team_list_21 = df_pit_all_21['팀'].unique()
team_df_dict_21 = {team: df_pit_all_21[df_pit_all_21['팀'] == team] for team in team_list_21}

In [19]:
# 1. 팀 이름 리스트
team_names = [
    'KIA 타이거즈', '두산 베어스', '롯데 자이언츠', '삼성 라이온즈', 'SSG 랜더스',
    'NC 다이노스', 'LG 트윈스', '키움 히어로즈', 'KT 위즈', '한화 이글스'
]

In [20]:
# 2. 연도별 데이터프레임 리스트, 딕셔너리 리스트
year_dfs = [df_pit_all_21, df_pit_all_22, df_pit_all_23, df_pit_all_24]
team_dicts = []

for df in year_dfs:
    team_dict = {team: df[df['팀'] == team].copy() for team in team_names}
    team_dicts.append(team_dict)

In [21]:
# 3. 투수 포지션 라벨링 함수
def label_pitchers(team_df):
    team_df['GS'] = pd.to_numeric(team_df['GS'], errors='coerce').fillna(0).astype(int)
    team_df['S'] = pd.to_numeric(team_df['S'], errors='coerce').fillna(0).astype(int)
    
    # 선발: GS 10이상, 최대 6명
    starters = (
        team_df[team_df['GS'] >= 10]
        .sort_values('GS', ascending=False)
        .head(6)
        .index
    )
    
    # 마무리: SV 10이상, 최대 3명
    closers = (
        team_df[team_df['S'] >= 10]
        .sort_values('S', ascending=False)
        .head(3)
        .index
    )
    
    # 기본: 중간계투
    team_df['투수세부분류'] = '중간계투'
    team_df.loc[starters, '투수세부분류'] = '선발'
    team_df.loc[closers, '투수세부분류'] = '마무리'
    return team_df

# 4. 실제 적용 및 저장
for i, team_dict in enumerate(team_dicts):
    for team in team_names:
        team_df = team_dict[team]
        team_dict[team] = label_pitchers(team_df)

In [22]:
all_df_list = []
years = [2021, 2022, 2023, 2024]

In [23]:
for i, team_dict in enumerate(team_dicts):
    for team in team_names:
        team_df = team_dict[team].copy()
        team_df['연도'] = years[i] 
        all_df_list.append(team_df)

# 하나로 병합하기 
df_all_pitchers = pd.concat(all_df_list, ignore_index=True)

In [24]:
df_all_pitchers

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,ERA,RA9,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도,투수세부분류
0,멩덴,투수,3.28,21,21,0,0,0,0,8,...,3.6,3.97,3.9,3.95,3.90,1.2,KIA 타이거즈,14755,2021,선발
1,임기영,투수,3.17,28,28,0,0,0,0,8,...,4.88,5.0,4.64,4.54,3.96,1.31,KIA 타이거즈,10909,2021,선발
2,이의리,투수,2.76,19,19,0,0,0,0,4,...,3.61,3.99,3.9,3.79,3.96,1.32,KIA 타이거즈,14788,2021,선발
3,정해영,투수,2.69,64,0,64,58,0,0,5,...,2.2,2.48,3.14,3.1,4.27,1.18,KIA 타이거즈,14608,2021,마무리
4,장현식,투수,2.56,69,0,69,5,0,0,1,...,3.29,3.29,3.45,3.48,4.06,1.42,KIA 타이거즈,11164,2021,중간계투
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1173,장지수,투수,-0.14,13,0,13,7,0,0,0,...,10.93,11.57,9.48,9.15,4.45,2.36,한화 이글스,14178,2024,중간계투
1174,윤대경,투수,-0.26,7,0,7,1,0,0,0,...,10.57,10.57,11.97,11.77,6.30,2.09,한화 이글스,11110,2024,중간계투
1175,이태양,투수,-0.5,10,1,9,3,0,0,0,...,11.57,12.54,13.69,13.89,9.43,2.04,한화 이글스,10609,2024,중간계투
1176,한승주,투수,-0.95,18,0,18,6,0,0,0,...,11.45,12.68,12.33,12.5,5.52,2.5,한화 이글스,14621,2024,중간계투
1177,정우람,투수,NaN,1,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,4.20,99.99,한화 이글스,10156,2024,중간계투

In [25]:
# 원핫 인코딩 직접
df_all_pitchers['선발'] = (df_all_pitchers['투수세부분류'] == '선발').astype(int)
df_all_pitchers['중간계투'] = (df_all_pitchers['투수세부분류'] == '중간계투').astype(int)
df_all_pitchers['마무리'] = (df_all_pitchers['투수세부분류'] == '마무리').astype(int)

# 기존 칼럼 삭제
df_all_pitchers = df_all_pitchers.drop(columns=['투수세부분류'])

In [26]:
df_all_pitchers

,선수,포지션,WAR,G,GS,GR,GF,CG,SHO,W,...,rRA9,rRA9pf,FIP,WHIP,팀,pid,연도,선발,중간계투,마무리
0,멩덴,투수,3.28,21,21,0,0,0,0,8,...,3.9,3.95,3.90,1.2,KIA 타이거즈,14755,2021,1,0,0
1,임기영,투수,3.17,28,28,0,0,0,0,8,...,4.64,4.54,3.96,1.31,KIA 타이거즈,10909,2021,1,0,0
2,이의리,투수,2.76,19,19,0,0,0,0,4,...,3.9,3.79,3.96,1.32,KIA 타이거즈,14788,2021,1,0,0
3,정해영,투수,2.69,64,0,64,58,0,0,5,...,3.14,3.1,4.27,1.18,KIA 타이거즈,14608,2021,0,0,1
4,장현식,투수,2.56,69,0,69,5,0,0,1,...,3.45,3.48,4.06,1.42,KIA 타이거즈,11164,2021,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1173,장지수,투수,-0.14,13,0,13,7,0,0,0,...,9.48,9.15,4.45,2.36,한화 이글스,14178,2024,0,1,0
1174,윤대경,투수,-0.26,7,0,7,1,0,0,0,...,11.97,11.77,6.30,2.09,한화 이글스,11110,2024,0,1,0
1175,이태양,투수,-0.5,10,1,9,3,0,0,0,...,13.69,13.89,9.43,2.04,한화 이글스,10609,2024,0,1,0
1176,한승주,투수,-0.95,18,0,18,6,0,0,0,...,12.33,12.5,5.52,2.5,한화 이글스,14621,2024,0,1,0
1177,정우람,투수,NaN,1,1,0,0,0,0,0,...,NaN,NaN,4.20,99.99,한화 이글스,10156,2024,0,1,0

In [27]:
df_all_pitchers.to_csv('2124_투수_스탯_데이터합본(칼럼추가.ver).csv', index=False)